.header
  padding: 20px 0
  position: relative
  z-index: 10
  
  &__flex
    display: flex
    flex-wrap: wrap
    position: relative
  
  &__panel
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    
  &__phone
    position: absolute
    +TAB_MAX
      top: 0
      right: 70px
    +PC_MIN
      top: 0
      right: 0