.question
  .question__title
    include ../title/title

  .question__content
    a.question__link(href='tel:793793793')
      i.question__linkIcon.fa.fa-phone
      .question__linkNumber tel. 793 793 793

    a.question__link(href='mailto:kontakt@doktormilko.pl')
      i.question__linkIcon.fa.fa-envelope
      .question__linkNumber kontakt@doktormilko.pl