.question
  
  &__title
    margin-bottom: 30px
  
  &__content
    +fontDroid
    
  &__link
    display: flex
    align-items: center
    margin-bottom: 10px
    &:last-child
      margin: 0
    &:hover
      text-decoration: none
    
  &__linkIcon
    +font(size 20px)
    width: 30px