nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-black.-active(href='./') STRONA GŁÓWNA
    li.nav__item
      a.nav__link(href='offer.html') OFERTA
    li.nav__item
      a.nav__link(href='gain.html') CO ZYSKASZ
    li.nav__item
      a.nav__link(href='partner.html') WSPÓŁPRACA
    li.nav__item
      a.nav__link(href='contact.html') KONTAKT
