.nav
  display: flex
  z-index: 100
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $black
    display: none
    z-index: 100
    +PC_MIN
      display: none !important
  
  &__button
    +font(size 24px)
    +flex-center
    width: 50px
    height: 50px
    position: fixed
    right: 20px
    top: 20px
    background: $gray
    color: $white
    cursor: pointer
    +PC_MIN
      display: none
  
  &__list
    padding: 0
    margin: 0
    +TAB_MAX
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
      background: transparent
    +PC_MIN
      display: flex !important
  
  &__item
    display: block
    +TAB_MAX
      overflow: hidden
    +PC_MIN
      margin-left: 70px
  
  &__link
    +font(size 30px weight 700)
    z-index: 2
    position: relative
    transition: 0.3s ease all
    display: inline-block
    color: $white
    +TAB_MAX
      +flex-center
      height: 60px
      width: 220px
    &:hover, &.-active
      text-decoration: none
      transform: scale(1.4)
    &.-black
      +PC_MIN
        color: $black