body
  +fontAmatic
  font-size: 14px
  line-height: 1.4
  background: $white
  color: $black
  position: relative
  overflow-x: hidden

*::selection
  background: $grayLight
  color: $black
  
*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    
.container
  +container

.overflow
  overflow: hidden
  
.fullSection
  +section-bg
  +TAB_MAX
    min-height: 500px
  +PC_MIN
    min-height: 100vh

img
  display: inline-block