.contact
  .container
    .contact__title.wow.fadeInLeft(data-wow-delay='0.6s')
      include ../title/title

    .contact__box
      .contact__column.wow.fadeInLeft(data-wow-delay='0.9s')
        .contact__boxTitle Przedstawile handlowi
        .contact__boxContent
          - for(var i = 1; i <= 2; i++)
            .contact__person
              - var imgStyle = 'background-image: url('+ imgDir +'contact__img-'+ i +'.jpg)';
              .contact__personImg(style=imgStyle)
              .contact__personDetails
                .contact__personDetail Adam Nowak
                a.contact__personDetail(href='tel:+48777666555') +48 777 666 555
                a.contact__personDetail(href='mailto:mail@mail.com') mail@mail.com

      .contact__column.-reverse.wow.fadeInRight(data-wow-delay='1.2s')
        .contact__boxTitle Producent
        .contact__boxContent
          .contact__company
            .contact__companyDetails
              p TRUDERS DYSTRYBUCJA Sp. z o.o.
              p ul. Modrzewiowa 16
              p 15-238 Białystok
              p NIP: 542-32-59-529

            .contact__companyImgBox
              - var imgSrc = imgDir + 'contact__company-1.svg';
              img.contact__companyImg(src=imgSrc alt='company')