.contact
  margin-bottom: 90px
  overflow: hidden
  
  &__box
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    
  &__column
    width: 100%
    +PHONE_ONLY
      &:last-child
        margin-top: 30px
    +TAB_MIN
      width: calc(50% - 80px)
      &.-reverse
        text-align: right
        color: $white
      
  &__boxTitle
    +font(size 29px)
      
  &__boxContent
    +fontDroid
    margin-top: 20px
    
  &__person
    display: flex
    align-items: center
    padding: 20px 0
    border-bottom: 1px solid $grayLight
    
  &__personImg
    +section-bg
    width: 70px
    height: 70px
    border-radius: 50%
    margin-right: 40px
    
  &__personDetails
    display: flex
    flex-direction: column
    
  &__company
    display: flex
    
  &__companyDetails
    flex: 1
    
  &__companyImgBox
    +PHONE_ONLY
      display: none
    +TAB_MIN
      max-width: 140px
      margin-left: 30px