.banner
  overflow: hidden
  margin-bottom: 40px
  
  &__item
    width: 100%
    height: 370px
    position: relative
    +TAB_MIN
      height: 670px
  
  &__cow
    +TAB_MAX
      display: none !important
    +TAB_MIN
      position: absolute
      z-index: 1
      top: 50%
      left: 0
      transform: translate(0, -50%)
      transition: 0.7s ease all
      &.-hide
        opacity: 0
        transform: translate(50%, -50%)
  
  &__product
    +PHONE_ONLY
      display: none !important
    +TAB_MIN
      position: absolute
      top: 50%
      left: 0
      transform: translate(0, -50%)
      z-index: 2
    +PC_MIN
      left: 50%
      transform: translate(-50%, -50%)
  
  &__box
    display: flex
    align-items: center
    height: 100%
    +PHONE_ONLY
      color: $black
    +TAB_MIN
      color: $white
      width: 35%
      margin-left: auto
      justify-content: flex-end
    +PC_MIN
      width: 30%
      
  &__content
    transition: 0.4s ease all
    &.-hide
      opacity: 0
      transform: translate(-100%, 0)
  
  &__title, &__sub
    margin: 0
    line-height: 1
  
  &__title
    +font(size 40px)
    +PC_MIN
      +font(size 60px)
  
  &__sub
    +font(size 70px)
    +PC_MIN
      +font(size 120px)
  
  &__button
    +font(size 30px)
    padding: 10px 20px
    background: $white
    color: $black
    margin-top: 30px
    display: inline-block
    transition: 0.4s ease all
    &:hover
      text-decoration: none
      background: $gray
      color: $white
    +PHONE_ONLY
      background: $black
      color: $white
    +PC_MIN
      +font(size 40px)
      display: block