.banner
  .container.wow.fadeInUp(data-wow-delay='0.6s')
    .banner__slider
      - for(var i = 1; i <= 3; i++)
        .banner__item
          - var cowSrc = imgDir + 'banner__cow-'+ i +'.svg';
          img.banner__cow(src=cowSrc alt='cow')

          - var productSrc = imgDir + 'banner__product-'+ i +'.png';
          img.banner__product(src=productSrc alt='cow')

          .banner__box
            .banner__content
              .banner__title POZNAJ MLEKO
              .banner__sub IDEALNE!
              a.banner__button(href='offer.html') CZYTAJ WIĘCEJ