.footer
  +fontDroid
  overflow: hidden
  
  &__box
    border-top: 1px solid $gray
    display: flex
    justify-content: flex-end
    padding: 30px 0
    +TAB_ONLY
      text-align: right
    +TAB_MIN
      width: calc(50% - 80px)
      margin-left: auto
    +TAB_MAX
      flex-direction: column
  
  &__link
    color: $gray
    +TAB_MAX
      margin-bottom: 10px
      &:last-child
        margin: 0
    +PC_MIN
      margin-left: 40px