.product
  padding: 30px 0
  
  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    
  &__column
    +clearfix
    +PHONE_ONLY
      width: 100%
      &:last-child
        margin-top: 30px
    +TAB_MIN
      width: calc(50% - 80px)
  
  &__title
    margin-bottom: 30px
  
  &__content
    +fontDroid
    
  &__img
    max-width: 100%
    float: right
    +PHONE_ONLY
      width: 100%