.product
  .container
    .product__row
      .product__column.wow.fadeInLeft
        .product__title
          include ../title/title

        .product__content
          p Opakowanie jednostkowe: karton 8 x 500g
          p Kartonów na warstwie: 16
          p Ilość warstw na palecie: 8 (512kg)
          p Ilość warstw na palecie przy transporcie cało pojazdowym: 9 (576kg)
          p Paleta - 80x120x186
          p Paleta brutto - 560kg
          p Termin przydatności do spożycia: 12 miesięcy od daty produkcji
          p Wydajność przy kubku 180 ml i gramaturze porcji 3g - 166 kubków

          table(style='width: 100%')
            thead
              tr
                th(colspan=2) Wartości odżywcze w 100g:

            tbody
              tr
                td Wartość energetyczna
                td 1506 kJ/ 355 kcal
              tr
                td Tłuszcz
                td 1,2g
              tr
                td w tym tłuszcze w kwasy nasycone
                td 0,8g
              tr
                td Węglowodany
                td 52g
              tr
                td w tym cukry
                td 52g
              tr
                td Białko
                td 34g
              tr
                td Sól
                td 0,55g

          table(style='width: 100%')
            thead
              tr
                th(colspan=2) Dozowanie herbata

            tbody
              tr
                td 180ml
                td 1.0 - 2.0g
              tr
                td 300ml
                td 1.5 - 3.5g

          table(style='width: 100%')
            thead
              tr
                th(colspan=2) Dozowanie herbata

            tbody
              tr
                td 180ml
                td 1.0 - 2.0g
              tr
                td 300ml
                td 1.5 - 3.5g

      .product__column.wow.fadeInRight
        - var imgSrc = imgDir + 'product__img-1.png';
        img.product__img(src=imgSrc alt='product')