.bottom
  padding: 30px 0
  overflow: hidden
  
  &__row
    display: flex
    justify-content: space-between
    +PHONE_ONLY
      flex-direction: column
    
  &__column
    position: relative
    +PHONE_ONLY
      margin-bottom: 60px
      &:last-child
        margin: 0
    +TAB_MIN
      width: calc(50% - 80px)