.house
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  z-index: -1
  
  .container
    position: relative
    height: 100%
  
  &__first, &__second, &__third
    position: absolute
  
  &__first
    +TAB_MAX
      display: none
    +PC_MIN
      top: 0
      left: 60%
  
  &__second
    +TAB_MAX
      display: none
    +PC_MIN
      left: 60%
      bottom: 0
  
  &__third
    right: 60%
    bottom: 0
    +PHONE_ONLY
      right: 45%