.house
  .container
    - var firstSrc = imgDir + 'house__first.svg';
    img.house__first.wow.fadeInRight(src=firstSrc alt='house' data-wow-delay='1.5s')

    - var secondSrc = imgDir + 'house__second.svg';
    img.house__second.wow.fadeInRight(src=secondSrc alt='house' data-wow-delay='1.5s')

    - var thirdSrc = imgDir + 'house__third.svg';
    img.house__third.wow.fadeInLeft(src=thirdSrc alt='house' data-wow-delay='1.5s')