.background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  z-index: -1
  
  &__white
    background: $white
    width: 100%
    position: relative
    z-index: 2
    +TAB_MIN
      width: 50%
      &:after
        content: ''
        background: url(../img/background__image.png) right
        position: absolute
        right: -75px
        top: 0
        height: 100%
        width: 75px
      
  &__black
    +TAB_MIN
      background: $black
      position: relative
      z-index: 1
      width: 50%