.slick
  
  &-slider
    user-select: text
  
  &-list.draggable
    user-select: none
    
  &-dots
    list-style: none
    margin: 10px 0 0 0
    padding: 0
    text-align: center
    li
      display: inline-block
    
  &-active
    .slick__dot
      background: $grayLight
    
  &__dot
    display: inline-block
    height: 10px
    width: 10px
    background: $gray
    margin-right: 10px
    border-radius: 50%
    transition: 0.4s ease all
    &:hover
      background: $white