.info
  .container
    .info__title.wow.fadeInLeft
      include ../title/title

    .info__content.wow.fadeInLeft(data-wow-delay='0.6s')
      p DR. MILKO 500g
      p Opakowanie jednostkowe: karton 8 x 500g
      p Kartonów na warstwie: 16
      p Ilość warstw na palecie: 8 ( 512kg )
      p Termin przydatności do spożycia: 12 miesięcy od daty produkcji

    - var imgSrc = imgDir + 'info__img.png';
    img.info__img.wow.fadeInRight(src=imgSrc alt='info' data-wow-delay='1.2s')