.info
  padding: 30px 0
  
  .container
    position: relative
    +TAB_MIN
      padding-bottom: 300px
  
  &__title
    margin-bottom: 30px
  
  &__content
    +fontDroid
    position: relative
    z-index: 1
    +TAB_MIN
      width: calc(50% - 80px)
  
  &__img
    +disableSelection
    position: absolute
    left: 45%
    bottom: 0
    +PHONE_ONLY
      display: none