.partner
  
  &__title
    +TAB_MIN
      &.-white
        color: $white
  
  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &.-section
      margin-top: 60px
    
  &__column
    +PHONE_ONLY
      width: 100%
      margin-bottom: 30px
      &:last-child
        margin: 0
    +TAB_MIN
      width: calc(50% - 80px)
      
  &__sub
    +font(size 40px)
    line-height: 1
    
  &__link
    +font(size 30px)
    display: block
    padding: 10px
    border: 2px solid $gray
    color: $white
    transition: 0.4s ease all
    margin-bottom: 20px
    text-align: right
    +PHONE_ONLY
      color: $black
      text-align: left
    &:last-child
      margin: 0
    &:hover
      text-decoration: none
      border-color: $white
      +PHONE_ONLY
        border-color: $black
        
  &__content
    +fontDroid
    +TAB_MIN
      &.-white
        color: $white