.partner
  .container
    .partner__row
      .partner__column.wow.fadeInLeft
        .partner__title
          include ../title/title

        .partner__sub
          +lorem(15)

      .partner__column.wow.fadeInRight
        .partner__links
          a.partner__link(href='#vending') VENDING
          a.partner__link(href='#office') OFFICE
          a.partner__link(href='#food') FOOD

    #vending.partner__row.-section
      .partner__column.wow.fadeInLeft
        .partner__title
          include ../title/title
        .partner__content
          p
            +lorem(200)

      .partner__column.wow.fadeInRight
        include ../gallery/gallery

    #office.partner__row.-section
      .partner__column.wow.fadeInLeft
        include ../gallery/gallery

      .partner__column.wow.fadeInRight
        .partner__title.-white
          include ../title/title
        .partner__content.-white
          p
            +lorem(200)

    #food.partner__row.-section
      .partner__column.wow.fadeInLeft
        .partner__title
          include ../title/title
        .partner__content
          p
            +lorem(200)

      .partner__column.wow.fadeInRight
        include ../gallery/gallery