.social
  .social__flex
    a.social__link(href='http://facebook.com' target='_blank')
      i.social__icon.fa.fa-facebook
    a.social__link(href='http://youtube.com' target='_blank')
      i.social__icon.fa.fa-youtube
    a.social__link(href='http://twitter.com' target='_blank')
      i.social__icon.fa.fa-twitter