.social
  
  &__flex
    display: flex
    padding-bottom: 30px
    +TAB_MIN
      justify-content: flex-end
  
  &__link
    display: inline-flex
    align-items: center
    justify-content: center
    width: 60px
    height: 60px
    background: $white
    color: $black
    border-radius: 50%
    margin-left: 20px
    +PHONE_ONLY
      background: $black
      color: $white
    &:first-child
      margin: 0
    &:hover
      text-decoration: none
      .social__icon
        transform: scale(1.6)
  
  &__icon
    +font(size 25px)
    transition: 0.4s ease all