.gain
  padding: 30px 0
  overflow: hidden
  
  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  
  &__column
    +PHONE_ONLY
      width: 100%
    +TAB_MIN
      width: calc(50% - 80px)
  
  &__title
    margin-bottom: 30px
  
  &__content
    +fontDroid
  
  &__ads
    +TAB_MIN
      padding: 80px 0
  
  &__ad
    position: relative
    margin-bottom: 120px
    &:last-child
      margin: 0
    &:nth-child(1)
      +PC_MIN
        &:after
          content: ''
          width: 280px
          height: 80px
          border: dashed 2px $white
          border-color: $white transparent transparent transparent
          border-radius: 50%
          position: absolute
          top: 50%
          right: 40px
          transform: rotate(40deg)
          transform-origin: top left
    &:nth-child(2)
      +PC_MIN
        &:after
          content: ''
          width: 280px
          height: 80px
          border: dashed 2px $white
          border-color: $white transparent transparent transparent
          border-radius: 50%
          position: absolute
          top: 20%
          left: 40px
          transform: rotate(-40deg)
          transform-origin: bottom right
    +PHONE_ONLY
      display: none
  
  &__iconBox
    +flex-center
    height: 150px
    width: 150px
    border: 2px dashed $white
    border-radius: 50%
    position: relative
    &.-right
      margin-left: auto
    &:after
      content: ''
      position: absolute
      top: -4px
      left: -4px
      width: 10%
      height: 35%
      background: $black
      transform: rotate(45deg)
      transform-origin: bottom right
  
  &__text
    position: absolute
    color: $white
    +TAB_MAX
      display: none
  
  &__textTop
    +font(size 56px)
    line-height: 1
  
  &__textBottom
    +font(size 40px)
    line-height: 1