.gain
  .container
    .gain__row
      .gain__column
        .gain__title.wow.fadeInLeft
          include ../title/title

        .gain__content.wow.fadeInLeft(data-wow-delay='0.6s')
          p Jakie są korzyści picia mleka? Na zmęczenie najlepsza jest filiżanka kawy z mlekiem, cafe latte, cappuccino, cafe frappe itp. pozbawionym sztucznych aromatów i substancji słodzących, za to bogateg w składniki odżywcze. Okazuje się, że mleko ma o wiele więcej zalet, niż mogłoby się nam wydawać.
          p W przeciwieństwie do innych, „sztucznych” napojów energetycznych i witaminowych, mleko w sposób naturalny pełne jest składników odżywczych, idealnie zrównoważonej proporcji węglowodanów i białka oraz tak korzystnych dla naszego zdrowia wapnia, fosforu i witaminy D. Nawet jeśli ostro pilnujesz ilości spożywanego tłuszczu lub jesteś na specjalnej diecie, nie musisz rezygnować z mleka. Przerzuć się na to o obniżonej zawartości tłuszczu. Pamiętaj, że mleko ma niską zawartość sodu, ale jest doskonałym źródłem potasu, co oznacza, że odgrywa bardzo ważną rolę w profilaktyce utrzymania prawidłowego ciśnienia krwi i zdrowego serca.
          p Mleko pozwala wzmacniać kości i zęby, w których znajduje się aż 99% całego zgromadzonego w organizmie wapnia.  Sprawia to, że jesteśmy mniej podatni na złamania i ryzyko wystąpienia osteoporozy. Dostarczanie organizmowi odpowiedniej dawki wapnia powinno rozpocząć się już w dzieciństwie i trwać przez cały okres dorosłego życia.
          p Wapń znajdujący się w mięśniach, krwi i płynie wewnątrzkomórkowym jest niezbędny dla prawidłowego funkcjonowania układu krwionośnego i kostno-mięśniowego. Odgrywa bardzo ważną rolę dla prawidłowego funkcjonowania mięśni (szczególnie w fazie ich skurczu). Odpowiada również za obkurczanie się i rozszerzanie naczyń krwionośnych, czyli jest gwarancją prawidłowego krwiobiegu.
          p Mleko nie tylko dostarcza olbrzymiej ilości składników odżywczych, ale również świetnie smakuje.

      .gain__column
        .gain__ads.wow.fadeInRight(data-wow-delay='0.6s')
          .gain__ad
            - var imgSrc = imgDir + 'gain__icon-1.svg';
            .gain__iconBox
              img.gain__icon(src=imgSrc alt='ad')
            .gain__text(style='top: -40px; left: 170px;')
              .gain__textTop DODATKOWA
              .gain__textBottom DAWKA MLEKA!

          .gain__ad
            - var imgSrc = imgDir + 'gain__icon-2.svg';
            .gain__iconBox.-right
              img.gain__icon(src=imgSrc alt='ad')
            .gain__text(style='top: -40px; left: 0px;')
              .gain__textTop DUŻO NIŻSZA CENA
              .gain__textBottom PYSZNEGO MLEKA

          .gain__ad
            - var imgSrc = imgDir + 'gain__icon-3.svg';
            .gain__iconBox
              img.gain__icon(src=imgSrc alt='ad')
            .gain__text(style='top: 20px; left: 170px;')
              .gain__textTop MNIEJ MIEJSCA
              .gain__textBottom KOMPAKOTOWE OPAKOWANIE