.phone
  +fontDroid
  transition: 0.4s ease all
  color: $white
  &:hover
    text-decoration: none
    transform: scale(1.2)
    
  &__icon
    +font(size 30px)
    display: inline-flex
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    background: $gray
    color: $white
    +PC_MIN
      display: none
      
  &__text
    +TAB_MAX
      display: none