include config

doctype html
html(lang='pl')

  include head

  body

    include ../components/loader/loader
    include ../components/background/background
    include ../components/house/house
    include ../components/header/header

    block content
    include ../components/bottom/bottom
    include ../components/footer/footer

    block scripts
      <!-- build:js #{jsLib} -->
      <!-- bower:js -->
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js #{jsProd} -->
      script(src=jsDev)
      <!-- endbuild -->